In [9]:
import pandas as pd
from pathlib import Path

In [10]:
# Variables

DATADIR = Path("/Users/babou/github/meetup_osm/data/")

OSM_ELEMENT_FILE = DATADIR / 'element-metadata.csv'
OSM_USER_FILE = DATADIR / 'user-metadata-extra.csv'
# luigi process automatically select 5 groups for the cluster
CLUSTER_FILE = DATADIR / "user-metadata-pca-auto-clusters-5-kmeans.h5" # OK
PCA_FILE = DATADIR / 'user-metadata-auto-n_components-min-3-max-12-pca.h5'

In [11]:
centroid = pd.read_hdf(CLUSTER_FILE, "/centroids")
cluster = pd.read_hdf(CLUSTER_FILE, "/individuals")
print("  - " + PCA_FILE.name)
pcafeatures = pd.read_hdf(PCA_FILE, "/features")
pcaind = pd.read_hdf(PCA_FILE, "/individuals")

  - user-metadata-auto-n_components-min-3-max-12-pca.h5

## Centroid :

In [17]:
centroid.head()

        PC1       PC2       PC3       PC4       PC5       PC6  n_individuals
0  1.629894 -0.036567 -0.101004 -0.115114 -0.112304 -0.007417            672
1 -0.200596 -0.468670  1.105160  0.042709  0.115720 -0.051030            464
2 -0.286369 -0.796064 -0.668749  0.245160  0.218437  0.173864            581
3 -0.858378  0.022650 -0.043285 -0.132918 -0.150288 -0.087490            893
4 -0.130518  1.277638 -0.035207  0.062728  0.053738  0.010708            536

In [15]:
centroid.shape

(5, 7)

# Cluster :

In [24]:
cluster.head()

           PC1       PC2       PC3       PC4       PC5       PC6  Xclust
uid
1626 -0.053162  1.532156 -0.364865  0.956333 -0.421991 -0.543583       4
3130 -0.235988 -0.970916 -0.734822  0.806500 -0.308419 -0.291420       2
1399 -0.211078 -0.937251 -0.737222  0.824992 -0.282533 -0.312313       2
2488 -0.110220  1.014086  0.007311  1.074932 -0.661216 -0.205904       4
5657 -0.977246  0.793641 -0.448550  1.127890 -0.554607 -0.403360       3

In [25]:
cluster.shape

(3146, 7)

In [35]:
cluster.reset_index(inplace=True)

In [36]:
cluster.head()

    uid       PC1       PC2       PC3       PC4       PC5       PC6  Xclust
0  1626 -0.053162  1.532156 -0.364865  0.956333 -0.421991 -0.543583       4
1  3130 -0.235988 -0.970916 -0.734822  0.806500 -0.308419 -0.291420       2
2  1399 -0.211078 -0.937251 -0.737222  0.824992 -0.282533 -0.312313       2
3  2488 -0.110220  1.014086  0.007311  1.074932 -0.661216 -0.205904       4
4  5657 -0.977246  0.793641 -0.448550  1.127890 -0.554607 -0.403360       3

In [37]:
cluster.dtypes

uid         int64
PC1       float64
PC2       float64
PC3       float64
PC4       float64
PC5       float64
PC6       float64
Xclust      int32
dtype: object

## pcafeatures :

In [20]:
pcafeatures.head()

                         PC1       PC2       PC3       PC4       PC5       PC6
lifespan           -0.001143  0.144725 -0.005381  0.040387  0.012579  0.014347
n_inscription_days  0.053813  0.100546  0.014008  0.270947 -0.058583 -0.063313
n_activity_days    -0.018216  0.359796 -0.003768  0.059718  0.005612  0.123337
u_chgset           -0.079986  0.362240 -0.013196  0.007293 -0.055221  0.177892
dmean_chgset        0.000785  0.001073  0.000978  0.001257 -0.000627  0.000710

In [21]:
pcafeatures.shape

(40, 6)

## pcaind :

In [22]:
pcaind.head()

           PC1       PC2       PC3       PC4       PC5       PC6
uid
1626 -0.053162  1.532156 -0.364865  0.956333 -0.421991 -0.543583
3130 -0.235988 -0.970916 -0.734822  0.806500 -0.308419 -0.291420
1399 -0.211078 -0.937251 -0.737222  0.824992 -0.282533 -0.312313
2488 -0.110220  1.014086  0.007311  1.074932 -0.661216 -0.205904
5657 -0.977246  0.793641 -0.448550  1.127890 -0.554607 -0.403360

In [23]:
pcaind.shape

(3146, 6)

## Osm users :